.banking-container {
    width: 100%;
    max-width: 1136px;
    height: 100%;
    position: relative;
    margin: 80px 0 0 396px;
    padding: 30px 228px;
    background-color: rgba(20, 34, 32, 0.6);
}

/* thông báo lỗi*/
.err {
    z-index: 999;
    position: absolute;
    height: 138vh; /* chưa sữa lại 100% chiều cao*/
    width: 100%;
    background: rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.err-box {
    width: 340px;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 250px;
}

.err-box-header {
    padding: 15px 30px;
}

.err-box-header-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff4700;
    margin: auto;
}

.err-box-header-icon img {
    padding-top: 14px;
}

.err-box-header-desc {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.4rem;
    padding-top: 16px;
    letter-spacing: -0.25px;
}

.err-box-btn {
    width: 78px;
    height: 44px;
    background: linear-gradient(120deg, #5fb621, #007c30);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

/* title */
.banking-title {
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: left;
}

.banking-title h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -0.5px;
    color: #ffffffe6;
}

.banking-link {
    padding-top: 10px;
    font-size: 15px;
    letter-spacing: -0.5px;
    color: hsla(0, 0%, 100%, 0.7);
}

.banking-link a {
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.7);
}

.banking-link a:hover {
    border-bottom: 1px solid #72bf00;
}

.banking-title-current {
    margin-left: 10px;
    color: #72bf00;
}

.banking-title-current:hover {
    border-bottom: 1px solid #72bf00;
}

/* confirm */
.banking-confirm {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.banking-confirm::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #3b5958;
    top: 15px;
    padding-right: 10px;
}

.banking-confirm-item {
    z-index: 1;
    width: 60px;
    height: 60px;
}

.banking-confirm-item .active {
    border-color: #72bf00;
    background-color: #72bf00;
}

.banking-confirm-item-index {
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.7);
    background-color: #234545;
    border-radius: 50%;
    border: 2px solid #92a3a2;
    padding-top: 2px;
}

.banking-confirm-item-desc {
    text-align: left;
    font-size: 15px;
    letter-spacing: -0.5px;
    color: hsla(0, 0%, 100%, 0.7);
    padding-top: 10px;
    width: 62px;
}

/* mô tả desc*/
.banking-desc {
    text-align: right;
    color: #72bf00;
    font-size: 15px;
    padding: 10px 0;
    letter-spacing: -0.5px;
}

/* phần banking-header*/
.banking-header {
    padding: 10px 30px;
    margin: 10px 0;
    background-color: rgba(44, 64, 68, 0.7);
    border-radius: 10px;
}

.banking-header-number {
    margin: 20px 0;
    display: flex;
}

.banking-header-number-title {
    flex: 1;
    text-align: left;
    color: #ffffffb3;
    font-size: 15px;
    letter-spacing: -0.3px;
}

.banking-header-number-section {
    width: 420px;
    height: 44px;
    font-size: 16px;
    color: #72bf00;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 0 10px;
}

.banking-header-number-section option {
    font-size: 16px;
    color: #121f3e;
}

.banking-header-money {
    margin-bottom: 20px;
    display: flex;
}

.banking-header-money-title {
    flex: 1;
    text-align: left;
    color: #ffffffb3;
    font-size: 15px;
    letter-spacing: -0.3px;
}

.banking-header-money-curent {
    width: 420px;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 15px;
}

/* info */
.banking-info {
    background-color: rgba(44, 64, 68, 0.7);
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.banking-info-add {
    display: flex;
    margin-left: 200px;
    padding: 20px 0;
    justify-content: space-between;
    color: #72bf00;
    font-size: 15px;
}

.banking-info-add-col-1 {
    display: flex;
    cursor: pointer;
}

.banking-info-add-col-1-desc {
    margin-right: 8px;
}

.banking-info-add-col-1-img {
    position: relative;
    bottom: 2px;
}

.banking-info-add-col-2 {
    cursor: pointer;
}

.banking-info-number {
    position: relative;
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.25px;
    font-weight: 500;
}

.banking-info-number-title {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.7);
    display: flex;
    align-items: center;
}

.banking-info-number-input {
    width: 420px;
    height: 44px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 10px;
}

.banking-info-number-img {
    position: absolute;
    right: 0;
    right: 6px;
    bottom: 10px;
    cursor: pointer;
}

/* Content */
.banking-content {
    position: relative;
    background-color: rgba(44, 64, 68, 0.7);
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.banking-content-money {
    display: flex;
    padding-top: 20px;
}

.banking-content-money-title {
    width: 200px;
    text-align: left;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.7);
    display: flex;
    align-items: center;
    letter-spacing: -0.25px;
}

.banking-content-money-number {
    flex: 1;
    height: 44px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 10px;
}

.banking-content-money-vnd {
    position: absolute;
    right: 38px;
    top: 40px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.25px;
}

.banking-content-desc {
    letter-spacing: -0.25px;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    padding: 4px 0 10px;
}

.banking-content-desc a {
    color: #72bf00;
}

.banking-content-check {
    display: flex;
    padding: 10px 0;
}

.banking-content-check-title {
    width: 200px;
    font-size: 15px;
    letter-spacing: -0.25px;
    color: hsla(0, 0%, 100%, 0.7);
    display: flex;
    align-items: center;
    text-align: left;
}

.banking-content-check-box {
    display: flex;
}

/*Tất cả thẻ input có type là radio*/
input[type='radio']:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: 0;
    position: relative;
    background-color: rgba(44, 64, 68, 1);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: #72bf00;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.banking-content-check-box-col1 {
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.banking-content-check-box-col2 {
    display: flex;
    align-items: center;
}

.banking-span-check {
    padding-left: 10px;
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 15px;
}

.banking-content-value {
    display: flex;
    padding: 20px 0;
}

.banking-content-value-title {
    width: 200px;
    font-size: 15px;
    letter-spacing: -0.25px;
    color: hsla(0, 0%, 100%, 0.7);
    display: flex;
    align-items: center;
    text-align: left;
}

.banking-content-value-desc {
    flex: 1;
    height: 44px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 10px;
    font-weight: 500;
}

/* Chuyển tiền*/
.banking-btn {
    width: 200px;
    height: 44px;
    border-radius: 10px;
    color: hsla(0, 0%, 100%, 0.9);
    font-weight: 600;
    background: linear-gradient(120deg, #5fb621, #007c30);
    border: none;
    cursor: pointer;
    font-size: 16px;
}
