@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

.home-container {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    background-image: linear-gradient(#fad0c4, #ffd1ff);
}

.home-title {
    font-weight: 600;
    font-size: 30px;
}

.home-role {
    font-weight: 500;
    font-size: 20px;
}

.home-userlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container {
    display: flex;
    justify-content: space-between;
}

tbody {
    width: 400px;
}

tr {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

th {
    border: none;
    font-size: 20px;
}

td.info {
    font-size: 18px;
    font-weight: 600;
    min-width: 350px;
    max-width: 360px;
    padding-top: 6px;
}

td.delete-user {
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(#ff758c, #ff7eb3);
    padding: 0.35rem;
    border: 1px solid #333;
    color: white;
}
.delete-user:hover {
    background: linear-gradient(#ff758c, #af4657);
}
