/* thông báo chỉnh sửa*/
.edit {
    z-index: 999999;
    position: absolute;
    height: 100vh; /* chưa sữa lại 100% chiều cao*/
    width: 100%;
    background: rgba(0, 0, 0, 0.32);
    display: none;
    justify-content: center;
    align-items: center;
}

.edit-box {
    width: 400px;
    height: 480px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
}

.edit-box-header-box {
    padding: 20px;
}

.edit-box-header-box-title {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 48px;
    font-weight: 700;
    color: #4e65ff;
}

.edit-box-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.edit-box-header-title {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    width: 96px;
    text-align: left;
}

.edit-box-header-input {
    flex: 1;
    border-radius: 6px;
    height: 36px;
    font-size: 15px;
    font-weight: 50;
    padding: 0 10px;
    color: #333;
    border: 2px solid #84dbe8;
}

.edit-box-bottom {
    width: 100%;
    margin-left: 14px;
}

.edit-box-btn {
    width: 100px;
    height: 44px;
    background: #4e65ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
}

.edit-box-btn:hover {
    background: linear-gradient(#4e65ff, #84dbe8);
}

/*Giao diện chính*/
.home-background {
    width: 100%;
    height: 100%;
    background: #fff;
}

.home-container {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 20px 0 0 60px;
}

.home-title {
    font-weight: 600;
    font-size: 30px;
}

.home-role {
    font-weight: 500;
    font-size: 20px;
}

.home-userlist {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    /* margin-left: 228px; */
}

.user-container {
    display: flex;
    justify-content: space-between;
}

tbody {
    width: 400px;
}

tr {
    display: flex;
}

.home-userlist-title {
    border: none;
    width: 14%; /*13.5*/
    font-size: 20px;
    transition: 0.3s;
}

.user-container-info {
    font-size: 18px; /*15px*/
    font-weight: 600;
    min-width: 200px; /*164px*/
    max-width: 230px;
    padding: 10px;
    width: 16%;
    transition: 0.3s;
}

.home-btn {
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(#ff758c, #ff7eb3);
    min-width: 110px;
    border: 1px solid #333;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-btn-edit {
    background: #4e65ff;
}

.home-btn-edit:hover {
    background: linear-gradient(#4e65ff, #92effd);
}

.home-btn-delete:hover {
    background: linear-gradient(#ff758c, #af4657);
}
