.navbar-container {
    z-index: 99;
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #4e65ff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.25px;
    text-align: center;
    border-left: 10px solid #4e65ff;
    transition: 0.3s;
    overflow: hidden;
}

.navbar-container-icon {
    width: 24px;
    height: 24px;
    margin: 0 22px 0 16px;
}

.navbar-container-before:hover.navbar-container-before::before {
    content: '';
    width: 50px;
    height: 50px;
    top: -50px;
    right: 0;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}
.navbar-container-after:hover.navbar-container-after::after {
    content: '';
    width: 50px;
    height: 50px;
    bottom: -50px;
    right: 0;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

/*menu*/
.navbar-container-menu {
    position: relative;
}

.navbar-container-menu-icon {
    position: absolute;
    right: 18px;
    top: -10px;
    color: #fff;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/*logo*/
.navbar-container-logo {
    margin: 26px 0 36px 0;
}

.navbar-container-logo-icon {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

/*home*/
.navbar-container-home {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
    height: 60px;
}

.navbar-container-home:hover {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    color: #4e65ff;
}

/*users*/
.navbar-container-users {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
    height: 60px;
}

.navbar-container-users:hover {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    color: #4e65ff;
}

/*message*/
.navbar-container-message {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
    height: 60px;
}

.navbar-container-message:hover {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    color: #4e65ff;
}

/*nofication*/
.navbar-container-nofication {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
    height: 60px;
}

.navbar-container-nofication:hover {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    color: #4e65ff;
}

/*logout*/
.navbar-container-logout {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
    height: 60px;
}

.navbar-container-logout:hover {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    color: #4e65ff;
}
