.navbar-container {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 70px;
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.05);
    align-items: center;
    flex-direction: column;
}
.navbar-container > * {
    /* Tất cả thẻ là con của thẻ navbar-container*/
    margin: 0 1.25rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 99, 230);
}
.navbar-user {
    color: rgb(0, 154, 165);
}
.navbar-logout {
    cursor: pointer;
    border: none;
    color: white;
    padding: 0.35rem 0.7rem;
    background: linear-gradient(#ff758c, #ff7eb3);
    border-radius: 4px;
    align-self: center;
    font-size: 1rem;
}

.navbar-logout:hover {
    background: linear-gradient(#ff758c, #af4657);
}
