.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('https://vcbdigibank.vietcombank.com.vn/assets/images/web/img/bg/bg-default.jpg');
    object-fit: cover;
}

/* Phần Header-navbar */
.user-header {
    position: relative;
    margin: 80px 0 0 396px;
    padding: 25px 60px 0;
    background-color: rgba(20, 34, 32, 0.4);
}
.user-header-slide {
    position: relative;
    height: 260px;
    width: 1016px;
    border-radius: 16px;
    overflow: hidden;
}

.user-header-slide-btn {
    z-index: 2;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(4, 27, 32, 0.5);
}

.user-header-slide-left {
    position: absolute;
    height: 260px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.user-header-slide-right {
    position: absolute;
    height: 260px;
    display: flex;
    align-items: center;
    right: 10px;
    top: 0;
}

.user-header-slide-content {
    display: flex;
    transition: 0.7s ease-in;
}

.user-header-slide-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* Phần nội dung user-content*/
.user-content {
    position: relative;
    width: 1136px;
    margin-left: 396px;
    overflow: hidden;
}
.user-content-wrapper {
    position: relative;
    padding: 30px 60px 10px;
    background-color: rgba(20, 34, 32, 0.4);
    margin-bottom: 10px;
}

.user-content-wrapper-item {
    width: 16.66%;
    height: 174px;
    font-size: 13px;
    display: inline-flex;
    color: hsla(0, 0%, 100%, 0.9);
}

.user-content-wrapper-img {
    background: linear-gradient(120deg, #74a352, #459664);
    margin: 0 30px 64px;
    border-radius: 32px;
    display: block;
}

.user-content-wrapper-img:hover {
    box-shadow: 0 10px 30px 0 rgb(95 182 33 / 50%);
    transform: translateY(-3px);
    transition: all 0.26s ease-in;
    cursor: pointer;
}

.user-content-wrapper-img img {
    width: 40px;
    height: 40px;
    margin-top: 6px;
}

.user-content-wrapper-desc {
    letter-spacing: -0.5px;
    padding: 0 4% 13%;
    line-height: 1.2rem;
    min-width: 109px;
    min-height: 53px;
}

.user-content-wrapper-add {
    width: 16.66%;
    height: 174px;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.9);
    display: block;
}

.user-content-wrapper-add-img img {
    width: 40px;
    height: 40px;
    margin-top: 6px;
}

.user-content-wrapper-add-img {
    margin: 0 30px 64px;
    border-radius: 32px;
    border: 1px dashed hsla(0, 0%, 100%, 0.2);
    transition: all 0.2s ease-in;
}

.user-content-wrapper-add-img:hover {
    cursor: pointer;
    transform: translateY(-3px);
    border-color: #72bf00;
    box-shadow: 0 0 10px 0 rgb(95 182 33 / 50%), inset 0 0 10px 0 rgb(95 182 33 / 50%);
}

.user-content-wrapper-add .user-content-wrapper-desc {
    max-width: 100px;
}

/* user-content-wrapper-block*/
.user-content-wrapper-block {
    width: 250px;
    height: 60px;
    margin: 60px 0 20px;
}

.user-content-wrapper-block-img1 {
    position: absolute;
    left: 0;
    width: 202px;
    padding: 5px 0;
    background-repeat: no-repeat;
    object-fit: cover; /*để dễ dàng thay đổi kích thước dài rộng của ảnh*/
    background-image: url('https://vcbdigibank.vietcombank.com.vn/assets/images/web/img/title-bg.svg');
    background-position: right 30px center;
}

.user-content-wrapper-block-img1-title {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.9);
    text-align: center;
    line-height: 1.1rem;
    font-weight: 600;
}

.user-content-wrapper-block-img2 img {
    position: relative;
    margin-right: 12px;
}

/* user-content-wrapper-bank */
.user-content-wrapper-bank {
    width: 14.28%;
    height: 174px;
    font-size: 14px;
    display: inline-flex;
    color: hsla(0, 0%, 100%, 0.9);
}

.user-content-wrapper-bank-img {
    background-color: hsla(0, 0%, 100%, 0.3);
    width: 92px;
    height: 92px;
    margin-bottom: 12px;
    border-radius: 32px;
    display: block;
}

.user-content-wrapper-bank-img:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
    transition: all 0.26s ease-in;
    cursor: pointer;
}

.user-content-wrapper-bank-img img {
    width: 92px;
    height: 92px;
    padding: 26px;
}

.user-content-wrapper-bank-desc {
    letter-spacing: -0.75px;
    line-height: 1.3rem;
    max-width: 100px;
    min-height: 53px;
    text-align: center;
}

/* content-send*/
.user-content-send {
    padding: 10px 60px 0 60px;
    background-color: rgba(20, 34, 32, 0.4);
}
