*,
#root,
.App,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 1532px;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
body,
.App {
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 1532px;
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

/* scroll bar */
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 4px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
    background-color: rgba(0, 0, 0, 0); /*thanh cố định*/
}

html ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: black; /* thanh cuộn*/
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: #fff;
}
